<!DOCTYPE html>
<hhtl>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='style.css') }}"
		/>
		<link
			rel="shortcut icon"
			href="{{ url_for('static',filename='LogoMark.svg')}}"
		/>
		<title>fib dec</title>
	</head>
	<nav class="navbar navbar-light bg-light">
		<div></div>
		<div>
			<a
				href="https://colab.research.google.com/drive/1N2ESkTcsf1Aid7nZPB4mH2bFrPykuASU?usp=sharing"
				target="_blank"
				>Benchmarks</a
			>
		</div>
	</nav>
	<body>
		<div id="main" class="container">
			<div>
				<figure>
					<img
						src="{{ url_for('static', filename='FibDec.svg') }}"
						alt="FibDec Logo"
						class="logo"
						style="max-width: 700px"
					/>
				</figure>
				<form action="/results" method="POST">
					<input
						name="num"
						placeholder="Enter a postive integer"
						type="number"
						min="1"
						max="1000000"
					/>
					<button type="submit" class="btn btn-outline-dark">
						Deconstruct
					</button>
				</form>
			</div>
		</div>
	</body>
</hhtl>
